/*******************************************************************************
    Tables styling
*******************************************************************************/

table { text-align: left; }
/*
table td { padding: 0.25em 0.5em; }

tbody > tr {
    border-bottom: 1px dotted $light;
}*/